.DS_Store
*.swp
*.pyc
*.pyo
*.o
*.mo
*.xml
*adminx.py
.coverage
# 数据库文件
dump.rdb
*.sqlite3


# soft link
conf
config.sh


.idea/
cmake-build-debug/
#objs/
objs/nginx
objs/nginx.*
logs/
# 调试请求体
client_body_temp/
client_temp